html,
body {
  margin: 0;
  height: 100%;
}

.wrapper {
  background-image: linear-gradient(to bottom right, #00d0ba, #b078d4);
  padding: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  color: #fff;
  height: 20vw;
}

.row:not(:first-child) {
  margin-top: 14px;
}

.memory-card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 64px;
  min-height: 64px;
  width: 20vw;
  background-color: #293e4c;
  border-radius: 8px;
}

.icon--invisible {
  display: none;
}
